name: CI

on: [push]

jobs:
  test:
    strategy:
      matrix:
        node: [12, 14]
    name: Test Node v${{ matrix.node }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Run docker-compose
        run: docker-compose up -d
      - name: Install npm packages
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Test monorepo packages
        if: github.repository != 'anchan828/nest-lerna-template'
        uses: paambaati/codeclimate-action@v2.3.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: npm test
          debug: true
